%section.jumbotron.text-xs-center.action-panel
	.container
		%h1.jumbotron-heading You have no access to this door!
		%p.lead.text-muted If you would like to request access please contact oldelgado@utep.edu
