// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.action-panel {
	h1.jumbotron-heading {
		font-size: 45px;
		line-height: 73px;
		font-weight: bold;
		letter-spacing: -0.04em;
		color: #c3c3c3;
	}
}
