%nav.navbar.navbar-fixed-top.navbar-dark.bg-inverse
	= link_to root_url, :class => "navbar-brand"
	%ul.nav.navbar-nav
		%li.nav-item.active
			%a.nav-link{:href => "#"}
				Home
		%li.nav-item
			%a.nav-link{:href => "#"} About
		%li.nav-item
			%a.nav-link{:href => "#"} Contact
